In [8]:
import pandas as pd
import numpy as np

In [9]:
path = '/home/philipp/Data/obf_autman/xlsx/'
data = pd.read_excel(path + 'Manuale_Dross_Abt.53_110.xlsx')
data['WO'] = data['WO'].str.replace(' ', '')

In [10]:
# logging of training

from datetime import datetime

class Log(object):

    def __init__(self, name):
        self.exp_name = name

    def start_log(self, typ, mode='a'):
        '''
            start log
        '''
        with open("log/{}.txt".format(self.exp_name), mode=mode, encoding='utf-8') as f:
            f.write('#' * 80 + '\n')
            f.write('#' * 29 + '   ' + typ + '   ' + '#' * 29 + '\n')
            f.write('#' * 80 + '\n')
            f.write('\n')


    def add_log(self, text):
        '''
            save log
        '''
        with open("log/{}.txt".format(self.exp_name), mode='a', encoding='utf-8') as f:
            f.write(text + '\n')

In [14]:
class Check(object):

    def __init__(self, data):
        
        self.data = data
        
        self.logging = Log('log')
        self.logging.start_log('CHECK', mode='w')

        self.chk_type = ['#U', '#W', '#STOE', '#VTYP', '#VB', '#VG', '#UENH', '#UELH', '#BZ', '#PZ', '#ST',\
                         '#BE', '#MA', '#SWE', '#LRV', '#WO', '#N']

        # wo
        self.chk_u = [80, 100, 120, 140, 160, 200]

        self.chk_w = ['WI', 'WA', 'SSI', 'SSA', 'OSI', 'OSA', 'BSI', 'BSA']

        self.chk_stoe = [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 21, 22, 23,\
         25, 26, 27, 28, 31, 32, 33, 34, 35, 36, 37, 41, 42, 43, 44, 51, 52, 53, 54,\
         55, 56, 57, 58, 61, 62, 63, 64, 65, 66, 71, 72, 73, 74, 75, 76, 81, 82, 83,\
         84, 85, 86, 86, 87, 88, 89, 91, 92, 93, 94, 95, 96, 97, 98]

        self.chk_vtyp = []

        self.chk_vg = [0, 1, 2, 3, 4, 5]
        self.chk_swe = ['grün', 'gelb', 'rot', 'Grün', 'Gelb', 'Rot']

        # bz
        self.chk_ba = ["AS", "AZ", "AH", "PM", "BI", "FB", "BL", "AC", "DG", "EE",\
         "EK", "EB", "EI", "EL", "ES", "EA", "FA", "FI", "FE", "FZ", "GK", "GB", "WP",\
         "GE", "AG", "AV", "HB", "HT", "HP", "JL", "CJ", "KK", "KB", "KO", "LA", "LI",\
         "ME", "AN", "FO", "PO", "AB", "RO", "RK", "BU", "RE", "SW", "CH", "ER", "SK",\
         "JN", "SP", "SF", "LS", "SL", "SN", "SG", "PU", "SA", "QR", "ST", "KW", "TH",\
         "QP", "TK", "TB", "UL", "NU", "WD", "KI", "TA", "WO", "LW", "EZ", "ZI", "SL",\
         "SN"]

        # nutz
        self.chk_nutz_ma = ['AD', 'AE', 'AF', 'AG', 'AS', 'BU', 'DE', 'DF', 'DP',\
         'EG', 'FM', 'JF', 'JP', 'KE', 'KF', 'KH', 'LI', 'LL', 'NB', 'ND', 'PA',\
         'PL', 'RM', 'SB', 'TR', 'UE', 'ZE', 'ZN', 'ZV']

        self.chk_nutz_dring = [1, 2, 3, 4, 5, 6]
        self.chk_nutz_bewil = [1, 2, 3]
        self.chk_nutz_zeitp = [1, 2, 3]
        self.chk_nutz_schlg = [0, 1, 2, 3, 4, 5, 6]
        self.chk_nutz_rueck = [0, 10, 23, 26, 29, 30, 31, 35, 36, 38, 40, 90]
    
    
    # check Nutzungen
    def check_bz(self):
        
        self.logging.start_log('BZ')
        # filter dataset
        data_temp = data.loc[~pd.isna(data['BZ']),['WO', 'BZ']].copy()
        
        for idx, inst in data_temp.iterrows():
            self.check_bz_instance(inst)
            

    # check Bestockungsziele
    def check_bz_instance(self, inst):
        '''
        Checks Bestockungsziel (bz) for validity and returns the splited data.
        '''
        nums = []
        bz_split = inst['BZ'][2:].split()

        for bz_inst in bz_split:
            try:
                # -2: -> because BZ is included in BZ-instance
                if bz_inst[-2:] in self.chk_ba:
                    nums.append(int(bz_inst[:-2]))
                else:
                    self.logging.add_log('Not a valid tree species - {} - {}'.format(bz_inst[-2:], inst['WO']))

            except:
                self.logging.add_log('Input not valid - {} - {}'.format(bz_inst[-2:], inst['WO']))

        if sum(nums) != 10:
            self.logging.add_log('BZ does not add up to 10 - {} - {}'.format(bz_inst[-2:], inst['WO']))
    
    
    # check Nutzungen
    def check_nutz(self):
        
        self.logging.start_log('Nutzung')
        
        # get number of max measures (Nutzungen) per unit (Bestand)
        loops = int(self.data.columns[-2][5:])
        
        for i in range(loops):
            # create columns
            col = ['WO', 'S_{}'.format(i), 'MA_{}'.format(i), 'Fl_{}'.format(i), 'LH_{}'.format(i),\
                   'NH_{}'.format(i), 'Dring_{}'.format(i), 'Zeit_{}'.format(i), 'Bew_{}'.format(i),\
                   'Sch_{}'.format(i), 'Rueck_{}'.format(i), 'Text_{}'.format(i)]
            
            # filter dataset
            data_temp = data.loc[~pd.isna(data['MA_{}'.format(i)]),col].copy()
            # remove suffix in column names 
            data_temp.columns = ['WO', 'S', 'MA', 'Fl', 'LH', 'NH', 'Dring', 'Zeit', 'Bew', 'Sch',\
                                 'Rueck', 'Text']
            
            for idx, inst in data_temp.iterrows():
                self.check_nutz_instance(inst)

            
    # check instance in Nutzungen
    def check_nutz_instance(self, inst):
        
        # MA
        if inst['MA'] not in self.chk_nutz_ma:
            self.logging.add_log('MA not valid{} - {}'.format(inst['MA'], inst['WO']))

        # Area
        try:
            if not isinstance(inst['Fl'], float):
                if isinstance(inst['Fl'], int):
                    float(inst['Fl'])
                elif inst['Fl'].find(',') >= 0:
                    float(inst['Fl'].replace(',','.'))
                else:
                    float(inst['Fl'])
        except:
            add_log(self, text)       
            self.logging.add_log('Fl not valid {} - {}'.format(inst['Fl'], inst['WO']))

        # LH
        try:
            int(inst['LH'])
        except:
            self.logging.add_log('LH not valid - {}'.format(inst['WO']))

        # NH
        try:
            int(inst['NH'])
        except:
            self.logging.add_log('NH not valid - {}'.format(inst['WO']))

        # Dring
        try:
            if int(inst['Dring']) not in self.chk_nutz_dring:
                self.logging.add_log('Dring not valid - {} - {}'.format(int(inst['Dring']), inst['WO']))
        except:
            self.logging.add_log('Dring not valid - {}'.format(inst['WO']))

        # Zeit
        try:
            if int(inst['Zeit']) not in self.chk_nutz_zeitp:
                self.logging.add_log('Zeit not valid - {} - {}'.format(int(inst['Zeit']), inst['WO']))
        except:
            self.logging.add_log('Zeit not valid - {}'.format(inst['WO']))

        # Bew
        try:
            if int(inst['Bew']) not in self.chk_nutz_bewil:
                self.logging.add_log('Bew not valid - {} - {}'.format(int(inst['Bew']), inst['WO']))
        except:
            self.logging.add_log('Bew not valid - {}'.format(inst['WO']))

        # Sch
        try:
            if int(inst['Sch']) not in self.chk_nutz_schlg:
                self.logging.add_log('Sch not valid - {} - {}'.format(int(inst['Sch']), inst['WO']))
        except:
            self.logging.add_log('Sch not valid - {}'.format(inst['WO']))

        # Rueck
        try:
            if int(inst['Rueck']) not in self.chk_nutz_rueck:
                self.logging.add_log('Rueck not valid')
        except:
            self.logging.add_log('Rueck not valid')

In [15]:
check = Check(data)

In [16]:
check.check_bz()

WO         054K1
BZ    BZ 6SL 4KI
Name: 77, dtype: object
WO             054K2
BZ    BZ 2LA 5KI 3SL
Name: 78, dtype: object
WO             054L2
BZ    BZ 2FI 5SL 3KI
Name: 80, dtype: object
WO             054L3
BZ    BZ 3KI 5QP 2SL
Name: 81, dtype: object
WO             054X0
BZ    BZ 5QP 2HB 3KI
Name: 95, dtype: object
WO         055A3
BZ    BZ 8QP 2SL
Name: 98, dtype: object
WO             055B1
BZ    BZ 4KI 4QP 2SL
Name: 99, dtype: object
WO         055C1
BZ    BZ 7QP 3SL
Name: 101, dtype: object
WO         057A0
BZ    BZ 7DG 3SL
Name: 103, dtype: object
WO         057D0
BZ    BZ 7EI 3SL
Name: 108, dtype: object
WO             058A1
BZ    BZ 6FI 2TA 2SL
Name: 114, dtype: object
WO             058A2
BZ    BZ 5FI 3TA 2SL
Name: 115, dtype: object
WO         058A4
BZ    BZ 7DG 3SL
Name: 117, dtype: object
WO             058B3
BZ    BZ 7DG 1SN 2SL
Name: 122, dtype: object
WO             058C1
BZ    BZ 6DG 2SL 2TA
Name: 123, dtype: object
WO         058C2
BZ    BZ 8DG 2SL
Name: 124, dtype: object
WO         058C3
BZ    BZ 7DG 3SL
Name: 125, dtype: object
WO             058D1
BZ    BZ 5LA 2TA 3SL
Name: 127, dtype: object
WO         058D3
BZ    BZ 8DG 2SL
Name: 129, dtype: object
WO         058D5
BZ    BZ 5LA 5SL
Name: 131, dtype: object
WO             058E2
BZ    BZ 5DG 2TA 3SL
Name: 133, dtype: object
WO             058F2
BZ    BZ 7DG 2SL 1SN
Name: 135, dtype: object
WO         058F3
BZ    BZ 8DG 2SL
Name: 136, dtype: object
WO                 058H1
BZ    BZ 5FI 2LA 2TA 1SL
Name: 141, dtype: object
WO         058H2
BZ    BZ 8DG 2SL
Name: 142, dtype: object
WO             058H3
BZ    BZ 6TA 2SL 2FI
Name: 143, dtype: object
WO         058H4
BZ    BZ 8DG 2SL
Name: 144, dtype: object
WO             058H5
BZ    BZ 7DG 2SL 1TA
Name: 145, dtype: object
WO             058H6
BZ    BZ 7DG 2SL 1TA
Name: 146, dtype: object
WO             058I1
BZ    BZ 6DG 2SL 2TA
Name: 147, dtype: object
WO         058I2
BZ    BZ 8DG 2SL
Name: 148, dtype: object
WO             059A2
BZ    BZ 6FI 2SL 2TA
Name: 151, dtype: object
WO         059C1
BZ    BZ 8DG 2SL
Name: 156, dtype: object
WO         059D4
BZ    BZ 5KI 5SL
Name: 161, dtype: object
WO         059E1
BZ    BZ 6LA 4SL
Name: 162, dtype: object
WO         059F0
BZ    BZ 7DG 3SL
Name: 164, dtype: object
WO         059G2
BZ    BZ 5DG 5SL
Name: 166, dtype: object
WO         059G3
BZ    BZ 5DG 5SL
Name: 167, dtype: object
WO         059I3
BZ    BZ 8DG 2SL
Name: 174, dtype: object
WO         059K2
BZ    BZ 7DG 3SL
Name: 179, dtype: object
WO         059K3
BZ    BZ 6DG 4SL
Name: 180, dtype: object
WO            059L0
BZ    BZ 8DG DG 2SL
Name: 181, dtype: object
WO             060A0
BZ    BZ 5DG 4SL 1TA
Name: 182, dtype: object
WO             060C3
BZ    BZ 4FI 5SL 1TA
Name: 188, dtype: object
WO         060C4
BZ    BZ 4LA 6SL
Name: 189, dtype: object
WO         060E1
BZ    BZ 4LA 6SL
Name: 193, dtype: object
WO         060E2
BZ    BZ 4LA 6SL
Name: 194, dtype: object
WO         061S0
BZ    BZ 5DG 5SL
Name: 198, dtype: object
WO             062B1
BZ    BZ 4FI 2TA 4BU
Name: 202, dtype: object
WO             062C0
BZ    BZ 5FI 3SL 2TA
Name: 204, dtype: object
WO             062D0
BZ    BZ 4FI 2TA 4SL
Name: 205, dtype: object
WO             062E1
BZ    BZ 5DG 3SL 2TA
Name: 206, dtype: object
WO             063A0
BZ    BZ 5SL 4FI 1LA
Name: 209, dtype: object
WO             063D1
BZ    BZ 4FI 5SL 1TA
Name: 212, dtype: object
WO         063F1
BZ    BZ 5DG 5SL
Name: 216, dtype: object
WO             063G3
BZ    BZ 5FI 2DG 3SL
Name: 220, dtype: object
WO         063G4
BZ    BZ 6LA 4SL
Name: 221, dtype: object
WO         064A3
BZ    BZ 5DG 5SL
Name: 225, dtype: object
WO             064A4
BZ    BZ 4LA 1TA 5SL
Name: 226, dtype: object
WO             064B1
BZ    BZ 4LA 2TA 4SL
Name: 227, dtype: object
WO         064B2
BZ    BZ 7DG 3SL
Name: 228, dtype: object
WO         064B3
BZ    BZ 8DG 2SL
Name: 229, dtype: object
WO         064C1
BZ    BZ 5DG 5SL
Name: 230, dtype: object
WO         064C2
BZ    BZ 4LA 6SL
Name: 231, dtype: object
WO             064C3
BZ    BZ 5DG 3SL 2TA
Name: 232, dtype: object
WO         064D1
BZ    BZ 8DG 2SL
Name: 233, dtype: object
WO         064D2
BZ    BZ 4LA 6SL
Name: 234, dtype: object
WO         064E1
BZ    BZ 8DG 2SL
Name: 238, dtype: object
WO             064E3
BZ    BZ 7DG 2SL 1TA
Name: 240, dtype: object
WO         064F2
BZ    BZ 5DG 5SL
Name: 242, dtype: object
WO             064G1
BZ    BZ 7DG 2SL 1TA
Name: 243, dtype: object
WO         064G2
BZ    BZ 8DG 2SL
Name: 244, dtype: object
WO         065A2
BZ    BZ 5DG 5SL
Name: 246, dtype: object
WO         065B3
BZ    BZ 8DG 2SL
Name: 252, dtype: object
WO             065C1
BZ    BZ 3KI 2LA 5SL
Name: 254, dtype: object
WO             065C2
BZ    BZ 3KI 2LA 5SL
Name: 255, dtype: object
WO             065D1
BZ    BZ 4FI 2TA 4SL
Name: 256, dtype: object
WO         065D2
BZ    BZ 5DG 5SL
Name: 257, dtype: object
WO             065F2
BZ    BZ 6FI 2SL 1TA
Name: 260, dtype: object
WO         067A1
BZ    BZ 5DG 5SL
Name: 265, dtype: object
WO             067B0
BZ    BZ 3KI 2LA 5SL
Name: 267, dtype: object
WO         068A2
BZ    BZ 6FI 4SL
Name: 271, dtype: object
WO             068D1
BZ    BZ 5FI 4SL 1LA
Name: 277, dtype: object
WO          068F4
BZ    BZ 6 LA 4SL
Name: 285, dtype: object
WO             068G0
BZ    BZ 4FI 4SL 2TA
Name: 287, dtype: object
WO       068J0
BZ    BZ 10 SL
Name: 288, dtype: object
WO         069A0
BZ    BZ 7DG 3SL
Name: 289, dtype: object
WO             069B0
BZ    BZ 5SL 4FI 1TA
Name: 290, dtype: object
WO         069D1
BZ    BZ 6FI 4SL
Name: 295, dtype: object
WO         069D2
BZ    BZ 5FI 5SL
Name: 296, dtype: object
WO         069E0
BZ    BZ 5SL 5FI
Name: 297, dtype: object
WO             070A1
BZ    BZ 3FI 4SL 2TA
Name: 303, dtype: object
WO             070B1
BZ    BZ 4FI 5SL 1LA
Name: 305, dtype: object
WO             070B2
BZ    BZ 5FI 4SL 1LA
Name: 306, dtype: object
WO             070C2
BZ    BZ 5FI 4SL 1LA
Name: 308, dtype: object
WO             070F1
BZ    BZ 5DG 4SL 1TA
Name: 313, dtype: object
WO             070G1
BZ    BZ 5DG 4SL 1TA
Name: 315, dtype: object
WO         070G2
BZ    BZ 5FI 5SL
Name: 316, dtype: object
WO         070G3
BZ    BZ 5LA 5SL
Name: 317, dtype: object
WO         070H1
BZ    BZ 5LA 5SL
Name: 318, dtype: object
WO         070H2
BZ    BZ 7DG 3SL
Name: 319, dtype: object
WO       070I0
BZ    BZ 10 SL
Name: 320, dtype: object
WO         070J1
BZ    BZ 5DG 5SL
Name: 321, dtype: object
WO         070J2
BZ    BZ 6DG 4SL
Name: 322, dtype: object
WO                 071A1
BZ    BZ 5BU 2KI 1TA 2FI
Name: 324, dtype: object
WO             071A2
BZ    BZ 5FI 4SL 1LA
Name: 325, dtype: object
WO             071B1
BZ    BZ 5FI 4SL 1LA
Name: 326, dtype: object
WO             071B2
BZ    BZ 4FI 2TA 4SL
Name: 327, dtype: object
WO             071C1
BZ    BZ 5LA 2TA 3BU
Name: 328, dtype: object
WO             071C2
BZ    BZ 5FI 4SL 1LA
Name: 329, dtype: object
WO             071D0
BZ    BZ 5FI 4SL 1LA
Name: 331, dtype: object
WO             071E0
BZ    BZ 4FI 4SL 2LA
Name: 332, dtype: object
WO             072A2
BZ    BZ 4FI 4SL 2LA
Name: 334, dtype: object
WO             072A3
BZ    BZ 4FI 4SL 1TA
Name: 335, dtype: object
WO             072A5
BZ    BZ 5SL 4FI 1LA
Name: 337, dtype: object
WO             072A6
BZ    BZ 6LA 3SL 1DG
Name: 338, dtype: object
WO         072B2
BZ    BZ 8DG 2SL
Name: 340, dtype: object
WO         072C2
BZ    BZ 6FI 4SL
Name: 342, dtype: object
WO             072C3
BZ    BZ 5SL 4FI 1LA
Name: 343, dtype: object
WO             073A1
BZ    BZ 7DG 2SL 1TA
Name: 345, dtype: object
WO         073A2
BZ    BZ 7DG 3SL
Name: 346, dtype: object
WO         073A3
BZ    BZ 8DG 2SL
Name: 347, dtype: object
WO              073A4
BZ    BZ 5FI 4 SL 1LA
Name: 348, dtype: object
WO             073B2
BZ    BZ 5FI 4SL 1LA
Name: 350, dtype: object
WO             073C0
BZ    BZ 5BU 2TA 3SN
Name: 351, dtype: object
WO             074A1
BZ    BZ 4LA 4BU 2TA
Name: 352, dtype: object
WO             074B1
BZ    BZ 7DG 1TA 2SL
Name: 354, dtype: object
WO         074B2
BZ    BZ 6LA 4SL
Name: 355, dtype: object
WO         074B4
BZ    BZ 8DG 2SL
Name: 357, dtype: object
WO             074C0
BZ    BZ 5DG 4SL 1SN
Name: 358, dtype: object
WO             074D0
BZ    BZ 5BU 2TA 3SN
Name: 359, dtype: object
WO             075B1
BZ    BZ 4FI 2TA 4SL
Name: 361, dtype: object
WO         075B2
BZ    BZ 8DG 2SL
Name: 362, dtype: object
WO         075B3
BZ    BZ 7SL 3TA
Name: 363, dtype: object
WO             075C1
BZ    BZ 6DG 3SL 1TA
Name: 365, dtype: object
WO         075C4
BZ    BZ 8DG 2SL
Name: 368, dtype: object
WO             075D1
BZ    BZ 4FI 4SL 2TA
Name: 369, dtype: object
WO             075E1
BZ    BZ 6DG 3SL 1TA
Name: 371, dtype: object
WO             075E2
BZ    BZ 4LA 5SL 1SN
Name: 372, dtype: object
WO         075E5
BZ    BZ 8DG 2SL
Name: 375, dtype: object
WO             076A0
BZ    BZ 7DG 2SL 1TA
Name: 377, dtype: object
WO             076B0
BZ    BZ 6DG 2SL 2TA
Name: 378, dtype: object
WO             076C0
BZ    BZ 7DG 2SL 1TA
Name: 379, dtype: object
WO         077A2
BZ    BZ 6DG 4SL
Name: 381, dtype: object
WO         077A3
BZ    BZ 5FI 5SL
Name: 382, dtype: object
WO             077A4
BZ    BZ 6FI 3SL 1LA
Name: 383, dtype: object
WO                 077B3
BZ    BZ 4FI 3SL 2TA 1KI
Name: 387, dtype: object
WO         077C1
BZ    BZ 5LA 5SL
Name: 389, dtype: object
WO             077C2
BZ    BZ 5SL 4FI 1LA
Name: 390, dtype: object
WO         077C3
BZ    BZ 6LA 1SL
Name: 391, dtype: object
WO         077D1
BZ    BZ 7DG 3SL
Name: 392, dtype: object
WO         077D2
BZ    BZ 6LA 4SL
Name: 393, dtype: object
WO         077E1
BZ    BZ 6LA 4SL
Name: 394, dtype: object
WO             078A1
BZ    BZ 4FI 4SL 2LA
Name: 397, dtype: object
WO         078A2
BZ    BZ 8DG 2SL
Name: 398, dtype: object
WO             078B1
BZ    BZ 3KI 3LA 5SL
Name: 399, dtype: object
WO         078B2
BZ    BZ 5FI 5SL
Name: 400, dtype: object
WO             078B3
BZ    BZ 6BU 2FI 2KI
Name: 401, dtype: object
WO         078B4
BZ    BZ 7FI 3SL
Name: 402, dtype: object
WO         078C3
BZ    BZ 6SL 4LA
Name: 406, dtype: object
WO             079A1
BZ    BZ 7DG 2SL 1TA
Name: 408, dtype: object
WO             079A2
BZ    BZ 4LA 4SL 2TA
Name: 409, dtype: object
WO             079A3
BZ    BZ 5FI 2LA 3SL
Name: 410, dtype: object
WO                 079B1
BZ    BZ 4FI 3BU 1LA 1TA
Name: 411, dtype: object
WO                 079B2
BZ    BZ 6FI 2SL 1LA 1TA
Name: 412, dtype: object
WO         079B3
BZ    BZ 7FI 3SL
Name: 413, dtype: object
WO             079C0
BZ    BZ 7BU 2TA 1FI
Name: 414, dtype: object
WO             079D0
BZ    BZ 5FI 3SL 2LA
Name: 415, dtype: object
WO             079E0
BZ    BZ 4FI 4SL 2LA
Name: 416, dtype: object
WO             080D2
BZ    BZ 6FI 2KI 2BU
Name: 429, dtype: object
WO         085C0
BZ    BZ 5LA 5BU
Name: 475, dtype: object
WO         085D1
BZ    BZ 4LA 6SL
Name: 476, dtype: object
WO         085D2
BZ    BZ 4LA 6SL
Name: 477, dtype: object
WO             085F1
BZ    BZ 6LA 1KI 3SL
Name: 479, dtype: object
WO             085F2
BZ    BZ 7DG 1LA 2SL
Name: 480, dtype: object
WO      086A1
BZ    BZ 10BU
Name: 483, dtype: object
WO         086A2
BZ    BZ 7BU 3SN
Name: 484, dtype: object
WO             086B1
BZ    BZ 6BU 2TA 2SN
Name: 485, dtype: object
WO         086B2
BZ    BZ 7DG 3SL
Name: 486, dtype: object
WO             086B3
BZ    BZ 6BU 2TA 2SN
Name: 487, dtype: object
WO             087A1
BZ    BZ 3KI 4LA 5SL
Name: 490, dtype: object
WO         087A2
BZ    BZ 7BU 3SN
Name: 491, dtype: object
WO         087B1
BZ    BZ 5DG 5BU
Name: 492, dtype: object
WO         087B2
BZ    BZ 5KI 5SL
Name: 493, dtype: object
WO         087B3
BZ    BZ 5KI 5SL
Name: 494, dtype: object
WO             087C1
BZ    BZ 5BU 3KI 2FI
Name: 495, dtype: object
WO         087C2
BZ    BZ 2FI 8SL
Name: 496, dtype: object
WO         087C3
BZ    BZ 6FI 4SL
Name: 497, dtype: object
WO                 087F0
BZ    BZ 5BU 3KI 1LA 1SL
Name: 501, dtype: object
WO                 088A1
BZ    BZ 4FI 3SL 2TA 1LA
Name: 502, dtype: object
WO         088B1
BZ    BZ 8DG 2SL
Name: 505, dtype: object
WO         088B2
BZ    BZ 8DG 2SL
Name: 506, dtype: object
WO              088B3
BZ    BZ 2FI 3LA 5 SL
Name: 507, dtype: object
WO         088C1
BZ    BZ 5DG 5SL
Name: 508, dtype: object
WO             089A1
BZ    BZ 3TA 5DG 2SL
Name: 511, dtype: object
WO             089C3
BZ    BZ 7DG 1AH 2SL
Name: 519, dtype: object
WO             089E0
BZ    BZ 4FI 5BU 1LA
Name: 522, dtype: object
WO         090A1
BZ    BZ 7BU 3SN
Name: 524, dtype: object
WO             090B1
BZ    BZ 5LA 2TA 3SL
Name: 526, dtype: object
WO             090E0
BZ    BZ 6DG 3SL 1TA
Name: 534, dtype: object
WO         090F2
BZ    BZ 8DG 2SL
Name: 536, dtype: object
WO             090I1
BZ    BZ 5LA 3SL 2TA
Name: 539, dtype: object
WO             091A3
BZ    BZ 7FI 2SL 1TA
Name: 545, dtype: object
WO                 091C4
BZ    BZ 3BU 1TA 1FI 5DG
Name: 554, dtype: object
WO             093F0
BZ    BZ 3KI 5LA 5SL
Name: 583, dtype: object
WO             094A1
BZ    BZ 6DG 3SL 1TA
Name: 584, dtype: object
WO         094A2
BZ    BZ 6LA 2SL
Name: 585, dtype: object
WO         094A3
BZ    BZ 5DG 5SL
Name: 586, dtype: object
WO         094A5
BZ    BZ 7DG 3SL
Name: 588, dtype: object
WO         094C1
BZ    BZ 5DG 5BU
Name: 592, dtype: object
WO                 094D1
BZ    BZ 2TA 1LA 3BU 4FI
Name: 595, dtype: object
WO             094D2
BZ    BZ 6LA 1TA 3SL
Name: 596, dtype: object
WO         094D3
BZ    BZ 4LA 6SL
Name: 597, dtype: object
WO             096A3
BZ    BZ 7DG 2SL 1TA
Name: 619, dtype: object
WO         096A6
BZ    BZ 4LA 6SL
Name: 622, dtype: object
WO             096B1
BZ    BZ 5DG 3TA 2SL
Name: 623, dtype: object
WO         096B2
BZ    BZ 8DG 2SL
Name: 624, dtype: object
WO             096B4
BZ    BZ 5DG 1TA 4SL
Name: 626, dtype: object
WO             096D2
BZ    BZ 2FI 3TA 5BU
Name: 634, dtype: object
WO             096E2
BZ    BZ 4FI 3TA 3SL
Name: 636, dtype: object
WO             096F1
BZ    BZ 5DG 1TA 4SL
Name: 638, dtype: object
WO             097A4
BZ    BZ 5FI 3TA 2SL
Name: 645, dtype: object
WO             097B1
BZ    BZ 5FI 2TA 3SL
Name: 646, dtype: object
WO             097B2
BZ    BZ 5DG 2TA 3SL
Name: 647, dtype: object
WO         097B3
BZ    BZ 8DG 2SL
Name: 648, dtype: object
WO             097C1
BZ    BZ 5FI 3TA 2SL
Name: 649, dtype: object
WO         097C2
BZ    BZ 8DG 2SL
Name: 650, dtype: object
WO         098A2
BZ    BZ 8DG 2SL
Name: 652, dtype: object
WO                 098B1
BZ    BZ 5DG 1TA 2SL 2SN
Name: 656, dtype: object
WO         098B3
BZ    BZ 8DG 2SL
Name: 658, dtype: object
WO             098B4
BZ    BZ 5DG 2SL 3SN
Name: 659, dtype: object
WO             098C4
BZ    BZ 7DG 2SL 1TA
Name: 663, dtype: object
WO         098D3
BZ    BZ 8DG 2SL
Name: 666, dtype: object
WO         098D5
BZ    BZ 8DG 2SL
Name: 668, dtype: object
WO             098E4
BZ    BZ 6DG 2TA 2SL
Name: 672, dtype: object
WO             098G1
BZ    BZ 6DG 2TA 2SL
Name: 678, dtype: object
WO         098G2
BZ    BZ 8DG 2SL
Name: 679, dtype: object
WO             100A1
BZ    BZ 5LA 2TA 3SL
Name: 684, dtype: object
WO             100B1
BZ    BZ 5DG 2TA 3SL
Name: 687, dtype: object
WO             100C1
BZ    BZ 7KI 1TA 2SL
Name: 691, dtype: object
WO         100D3
BZ    BZ 8DG 2SL
Name: 695, dtype: object
WO         100E3
BZ    BZ 7DG 3SL
Name: 700, dtype: object
WO         100E4
BZ    BZ 7DG 3SL
Name: 701, dtype: object
WO             100E5
BZ    BZ 5FI 2TA 3BU
Name: 702, dtype: object
WO         101A1
BZ    BZ 7BU 3SN
Name: 705, dtype: object
WO         101A2
BZ    BZ 5BU 5SN
Name: 706, dtype: object
WO         101A3
BZ    BZ 6LA 4SL
Name: 707, dtype: object
WO      101A4
BZ    BZ 10SL
Name: 708, dtype: object
WO       101A5
BZ    BZ 10 SL
Name: 709, dtype: object
WO         101A6
BZ    BZ 6LA 4SL
Name: 710, dtype: object
WO         101B0
BZ    BZ 5LA 5SL
Name: 711, dtype: object
WO             101C1
BZ    BZ 3KI 7LA 5SL
Name: 712, dtype: object
WO         101D0
BZ    BZ 6LA 4SL
Name: 714, dtype: object
WO         101E0
BZ    BZ 4LA 6SL
Name: 715, dtype: object
WO         101G2
BZ    BZ 7SL 3SN
Name: 718, dtype: object
WO             101H1
BZ    BZ 2FI 5SL 3KI
Name: 720, dtype: object
WO                 101I0
BZ    BZ 2LA 5SL 2FI 1KI
Name: 722, dtype: object
WO         101J0
BZ    BZ 5KI 5SL
Name: 723, dtype: object
WO         101L2
BZ    BZ 5KI 5SL
Name: 726, dtype: object
WO         102B1
BZ    BZ 4LA 6SL
Name: 729, dtype: object
WO       102B2
BZ    BZ 10 SL
Name: 730, dtype: object
WO             102D0
BZ    BZ 6KI 3SL 1SN
Name: 732, dtype: object
WO         102E0
BZ    BZ 5KI 5SL
Name: 733, dtype: object
WO             102G0
BZ    BZ 5KI 3BU 2QP
Name: 735, dtype: object
WO             103A1
BZ    BZ 6KI 1TA 3SL
Name: 736, dtype: object
WO         103B1
BZ    BZ 6LA 4SL
Name: 738, dtype: object
WO         103B2
BZ    BZ 6LA 4SL
Name: 739, dtype: object
WO         103C0
BZ    BZ 4LA 6SL
Name: 740, dtype: object
WO         103D1
BZ    BZ 7KI 3SL
Name: 741, dtype: object
WO         103D2
BZ    BZ 7KI 3SL
Name: 742, dtype: object
WO             103D3
BZ    BZ 4KI 1TA 5SL
Name: 743, dtype: object
WO                 103E1
BZ    BZ 5BU 1TA 2KI 2FI
Name: 744, dtype: object
WO             103G1
BZ    BZ 4KI 2FI 4SL
Name: 747, dtype: object
WO         103G2
BZ    BZ 5DG 5SL
Name: 748, dtype: object
WO         104A0
BZ    BZ 3KI 7SL
Name: 750, dtype: object
WO         104D0
BZ    BZ 3KI 7SL
Name: 753, dtype: object
WO                 104E0
BZ    BZ 2BU 3SL 4TA 1SN
Name: 754, dtype: object
WO         104F0
BZ    BZ 3KI 7SL
Name: 755, dtype: object
WO         104G0
BZ    BZ 5KI 5SL
Name: 756, dtype: object
WO          105A1
BZ    BZ 4 LA 6SL
Name: 757, dtype: object
WO             105A3
BZ    BZ 3KI 7LA 5SL
Name: 759, dtype: object
WO             105B1
BZ    BZ 7KI 2TA 1SL
Name: 760, dtype: object
WO         105C1
BZ    BZ 5KI 5SL
Name: 762, dtype: object
WO         105C2
BZ    BZ 4KI 6SL
Name: 763, dtype: object
WO             105C3
BZ    BZ 7DG 2SL 1SN
Name: 764, dtype: object
WO                 105D0
BZ    BZ 3TA 3KI 3FI 1SL
Name: 765, dtype: object
WO             105E1
BZ    BZ 5DG 3SL 2TA
Name: 766, dtype: object
WO         105E3
BZ    BZ 6DG 4SL
Name: 768, dtype: object
WO         105F1
BZ    BZ 6LA 4SL
Name: 769, dtype: object
WO         105G1
BZ    BZ 6SL 4KI
Name: 772, dtype: object
WO                 105H0
BZ    BZ 2QP 4BU 2KI 2LA
Name: 774, dtype: object
WO             105I1
BZ    BZ 3LA 2SL 5BU
Name: 775, dtype: object
WO             105I2
BZ    BZ 5KI 3BU 2SL
Name: 776, dtype: object
WO                 105K0
BZ    BZ 4BU 2QP 2TA 2KI
Name: 779, dtype: object
WO             105L0
BZ    BZ 5BU 2SL 3KI
Name: 780, dtype: object
WO                 105M0
BZ    BZ 4QP 2HB 2LA 2TA
Name: 781, dtype: object
WO                 106A0
BZ    BZ 5QP 1TA 3KI 1SL
Name: 782, dtype: object
WO             106B0
BZ    BZ 5BU 2TA 3KI
Name: 783, dtype: object
WO             106C0
BZ    BZ 7QP 2SL 1KI
Name: 784, dtype: object
WO             106D0
BZ    BZ 2TA 3QP 5SL
Name: 785, dtype: object
WO             106E0
BZ    BZ 6QP 3HB 1TA
Name: 786, dtype: object
WO         106F0
BZ    BZ 5KI 5SL
Name: 787, dtype: object
WO      106G0
BZ    BZ 10SL
Name: 788, dtype: object
WO             106H0
BZ    BZ 3KI 7LA 5SL
Name: 789, dtype: object
WO             106I0
BZ    BZ 5BU 3KI 2SL
Name: 790, dtype: object
WO         106J0
BZ    BZ 5KI 5BU
Name: 791, dtype: object
WO                 106K0
BZ    BZ 2KI 3QP 3BU 2HB
Name: 792, dtype: object
WO             107A1
BZ    BZ 5KI 1LA 4SL
Name: 793, dtype: object
WO             107A2
BZ    BZ 7DG 2SL 1TA
Name: 794, dtype: object
WO             107B2
BZ    BZ 4LA 3BU 3SN
Name: 796, dtype: object
WO         107B3
BZ    BZ 8DG 2SL
Name: 797, dtype: object
WO             107C1
BZ    BZ 3KI 7LA 5SL
Name: 798, dtype: object
WO             107D1
BZ    BZ 3KI 8LA 5SL
Name: 800, dtype: object
WO         107D2
BZ    BZ 4FI 6SL
Name: 801, dtype: object
WO                 107D3

In [7]:
check.check_nutz()

In [19]:
data

,Seite,Check,WO,UZ,W,STOE,VTYP,VB,UENH,UELH,...,Fl_2,LH_2,NH_2,Dring_2,Zeit_2,Bew_2,Sch_2,Rueck_2,Text_2,End
0,0,pass,053A1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,pass,053A2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,pass,053A3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,pass,053A4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,pass,053B1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
877,877,pass,110C0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
878,878,pass,110D0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
879,879,pass,110E0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
880,880,pass,110F0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
881,881,pass,110G0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [92]:
int(data.columns[-2][5:])

2

In [74]:
data_temp = data.loc[~pd.isna(data['MA_0']),['WO', 'S_0', 'MA_0', 'Fl_0', 'LH_0', 'NH_0', 'Dring_0',
 'Zeit_0', 'Bew_0', 'Sch_0', 'Rueck_0', 'Text_0']].copy()

data_temp.columns = ['WO', 'S', 'MA', 'Fl', 'LH', 'NH', 'Dring', 'Zeit', 'Bew', 'Sch', 'Rueck', 'Text']

In [87]:
for idx, inst in data_temp.iterrows():
    
    # MA
    if inst['MA'] not in check.chk_nutz_ma:
        print('log: MA not valid')
    
    # Area
    try:
        if not isinstance(inst['Fl'], float):
            if isinstance(inst['Fl'], int):
                float(inst['Fl'])
            elif inst['Fl'].find(',') >= 0:
                float(inst['Fl'].replace(',','.'))
            else:
                float(inst['Fl'])
    except:
        print('log: Fl not valid {} - {}'.format(inst['Fl'], inst['WO']))
    
    # LH
    try:
        int(inst['LH'])
    except:
        print('log: LH not valid - {}'.format(inst['WO']))
    
    # NH
    try:
        int(inst['NH'])
    except:
        print('log: NH not valid - {}'.format(inst['WO']))
        
    # Dring
    try:
        if int(inst['Dring']) not in check.chk_nutz_dring:
            print('log: Dring not valid - {} - {}'.format(int(inst['Dring']), inst['WO']))
    except:
        print('log: Dring not valid - {}'.format(inst['WO']))
        
    # Zeit
    try:
        if int(inst['Zeit']) not in check.chk_nutz_zeitp:
            print('log: Zeit not valid - {} - {}'.format(int(inst['Zeit']), inst['WO']))
    except:
        print('log: Zeit not valid - {}'.format(inst['WO']))
        
    # Bew
    try:
        if int(inst['Bew']) not in check.chk_nutz_bewil:
            print('log: Bew not valid - {} - {}'.format(int(inst['Bew']), inst['WO']))
    except:
        print('log: Bew not valid - {}'.format(inst['WO']))
        
    # Sch
    try:
        if int(inst['Sch']) not in check.chk_nutz_schlg:
            print('log: Sch not valid - {} - {}'.format(int(inst['Sch']), inst['WO']))
    except:
        print('log: Sch not valid - {}'.format(inst['WO']))
        
    # Rueck
    try:
        if int(inst['Rueck']) not in check.chk_nutz_rueck:
            print('log: Rueck not valid')
    except:
        print('log: Rueck not valid')

log: Sch not valid - 31 - 055C1
log: Sch not valid - 31 - 068J0
log: Bew not valid - 23 - 105A1
log: Sch not valid - 23 - 105A1

In [82]:
x = data_temp.loc[data_temp['WO'] == '109M0', 'Fl'].values[0]

In [86]:
if not isinstance(x, float):
    if x.find(',') >= 0:
        print(1)
    else:
        print(type(x))

AttributeError: 'int' object has no attribute 'find'

In [63]:
i = '3,3'
if i.find(',') >= 0:
    print(float(i.replace(',','.')))
else:
    print(float(i))

3.3

In [44]:
check.chk_nutz_schlg

[1, 2, 3, 4, 5, 6]

In [76]:
data_temp[data_temp['WO'] == '109M0']

        WO    S  MA Fl   LH     NH  Dring  Zeit  Bew  Sch  Rueck Text
870  109M0  1.0  SB  3  0.0  150.0    2.0   1.0  2.0  1.0   26.0  NaN

In [43]:
data_temp.loc[:,'Sch_0'].astype(int)

0      4
2      4
4      4
5      4
6      4
      ..
863    4
866    2
869    1
870    1
874    1
Name: Sch_0, Length: 596, dtype: int64

In [ ]:
# MA
S_0                                                      1.0
MA_0       str - check_ma
Fl_0       float - is_float
LH_0       int - is_int
NH_0       int - is_int
Dring_0    int - [1, 2, 3]
Zeit_0     int - [1, 2, 3]
Bew_0      int - [1, 2, 3]
Sch_0      int - [1, 2, 3, 4, 5, 6]
Rueck_0    int - [1, 2, 3]
Text_0     str

In [7]:
i = 0
['S_{}'.format(i), 'MA_{}'.format(i), 'Fl_{}'.format(i), 'LH_{}'.format(i), 'NH_{}'.format(i), \
'Dring_{}'.format(i), 'Zeit_{}'.format(i), 'Bew_{}'.format(i), 'Sch_{}'.format(i), 'Rueck_{}'.format(i),\
'Text_{}'.format(i)]

['S_0',
 'MA_0',
 'Fl_0',
 'LH_0',
 'NH_0',
 'Dring_0',
 'Zeit_0',
 'Bew_0',
 'Sch_0',
 'Rueck_0',
 'Text_0']

In [5]:
data.columns

Index(['Seite', 'Check', 'WO', 'UZ', 'W', 'STOE', 'VTYP', 'VB', 'UENH', 'UELH',
       'X', 'BZ', 'PZ', 'ST', 'BE', 'MA', 'SWE', 'LRV', 'XX', 'S_0', 'MA_0',
       'Fl_0', 'LH_0', 'NH_0', 'Dring_0', 'Zeit_0', 'Bew_0', 'Sch_0',
       'Rueck_0', 'Text_0', 'S_1', 'MA_1', 'Fl_1', 'LH_1', 'NH_1', 'Dring_1',
       'Zeit_1', 'Bew_1', 'Sch_1', 'Rueck_1', 'Text_1', 'S_2', 'MA_2', 'Fl_2',
       'LH_2', 'NH_2', 'Dring_2', 'Zeit_2', 'Bew_2', 'Sch_2', 'Rueck_2',
       'Text_2', 'End'],
      dtype='object')

In [8]:
index = data['WO'].values
col = ['WO', 'MA', 'Fl', 'LH', 'NH', 'Dring', 'Zeit', 'Bew', 'Sch', 'Rueck', 'Text']

In [9]:
# create dataframe with wo
df = pd.DataFrame(index=index, columns=col)
df = df.fillna(0) # with 0s rather than NaNs

In [10]:
df

       WO  MA  Fl  LH  NH  Dring  Zeit  Bew  Sch  Rueck  Text
053A1   0   0   0   0   0      0     0    0    0      0     0
053A2   0   0   0   0   0      0     0    0    0      0     0
053A3   0   0   0   0   0      0     0    0    0      0     0
053A4   0   0   0   0   0      0     0    0    0      0     0
053B1   0   0   0   0   0      0     0    0    0      0     0
...    ..  ..  ..  ..  ..    ...   ...  ...  ...    ...   ...
110C0   0   0   0   0   0      0     0    0    0      0     0
110D0   0   0   0   0   0      0     0    0    0      0     0
110E0   0   0   0   0   0      0     0    0    0      0     0
110F0   0   0   0   0   0      0     0    0    0      0     0
110G0   0   0   0   0   0      0     0    0    0      0     0

[882 rows x 11 columns]

In [25]:
nutz = data[['S_0', 'MA_0', 'Fl_0', 'LH_0', 'NH_0', 'Dring_0', 'Zeit_0', 'Bew_0', 'Sch_0', 'Rueck_0', 'Text_0']]
col = ['S', 'MA', 'Fl', 'LH', 'NH', 'Dring', 'Zeit', 'Bew', 'Sch', 'Rueck', 'Text']
nutz.columns = col
nutz = nutz.set_index(index)
nutz = nutz.fillna(0)
nutz[['S', 'LH', 'NH', 'Dring', 'Zeit', 'Bew', 'Sch', 'Rueck']] = nutz[['S', 'LH', 'NH', 'Dring', 'Zeit', 'Bew', 'Sch', 'Rueck']].astype(int)

In [26]:
nutz

,S,MA,Fl,LH,NH,Dring,Zeit,Bew,Sch,Rueck,Text
053A1,1,LI,"1,5",0,160,1,2,2,4,35,"TA fördern, FI entnehmen und Kronenpflege bei ..."
053A2,0,0,0,0,0,0,0,0,0,0,0
053A3,1,DF,"1,17",0,70,3,1,2,4,35,0
053A4,0,0,0,0,0,0,0,0,0,0,0
053B1,1,PL,"1,5",0,230,1,2,2,4,35,TA erhalten KI geringe Kronen entnehmen
...,...,...,...,...,...,...,...,...,...,...,...
110C0,0,0,0,0,0,0,0,0,0,0,0
110D0,0,0,0,0,0,0,0,0,0,0,0
110E0,0,0,0,0,0,0,0,0,0,0,0
110F0,0,0,0,0,0,0,0,0,0,0,0
110G0,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
##############   Nutz   ##############

In [ ]:
# wo
index = ['506A1', '506A2', '506A3', '506A4', '506B0', '506C0',]

# create dataframe with wo
df = pd.DataFrame(index=index, columns=chk_ba)
df = df.fillna(0) # with 0s rather than NaNs

In [ ]:
##########################################

In [7]:

data.loc[~pd.isna(data['UZ']),'UZ']

20     U 140
71     U 120
95     U 140
99     U 200
161    U 160
162    U 160
273    U 140
307    U 120
381    U 140
382    U 140
383    U 140
399    U 160
404    U 120
414    U 140
483    U 200
490    U 200
535    U 120
556    U 120
558    U 120
583    U 200
664    U 140
712    U 140
759    U 140
763    U 160
791    U 200
793    U 160
798    U 160
800    U 140
804    U 140
809    U 200
835    U 140
840    U 120
865    U 200
869    U 140
Name: UZ, dtype: object

In [8]:
def clean(item, dtype, rmv=0):
    if dtype == 'int':
        return int(item[rmv:])
    else:
        return item[rmv:]

In [14]:
def check(typ, item):
    
    if typ == 'UZ':
        if item in check_u:
            return('pass')
        else:
            return('error')
        
    elif typ == 'W':
        if item in check_w:
            return('pass')
        else:
            return('error')
    
    elif typ == 'STOE':
        if item in check_stoe:
            return('pass')
        else:
            return('error')
        
    elif typ == 'VB':
        if item in [0,1,2,3,4,5]:
            return('pass')
        else:
            return('error')
        
    elif typ == 'UENH':
        if item >= 0:
            return('pass')
        else:
            return('error')
        
    elif typ == 'UELH':
        if item >= 0:
            return('pass')
        else:
            return('error')

In [15]:
col_dict = {'UZ':['int', 2], 'W': ['str', 2], 'STOE':['int', 5], 'VTYP':['str', 5], \
            'VB':['int', 2], 'UENH':['int', 5], 'UELH':['int', 5]}

In [16]:
for col, info in col_dict.items():
    print(col, info)
    
    # loop and check
    for ins in data.loc[~pd.isna(data[col]),col]:
        item = clean(ins, info[0], info[1])
        print(check(col, item))

UZ ['int', 2]
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
W ['str', 2]
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
STOE ['int', 5]
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
VTYP ['str', 5]
VB ['int', 2]
pass
pass
UENH ['int', 5]
UELH ['int', 5]
pass

In [22]:
# loop and check
for ins in data.loc[~pd.isna(data['UZ']),'UZ']:
    if clean(ins) in check_u:
        print(ins)
    else:
        print('error')

140
120
140
200
160
160
140
120
140
140
140
160
120
140
200
200
120
120
120
200
140
140
140
160
200
160
160
140
140
200
140
120
200
140

In [27]:
data.loc[~pd.isna(data['STOE']),'STOE']

95     STOE 72
108    STOE 72
117    STOE 72
141    STOE 72
144    STOE 72
256    STOE 72
414    STOE 72
483    STOE 12
501    STOE 04
507    STOE 04
646    STOE 72
763    STOE 61
765    STOE 72
863    STOE 72
Name: STOE, dtype: object

In [26]:
# loop and check
for ins in data.loc[~pd.isna(data['W']),'W']:
    if ins[2:] in check_w:
        print(ins[2:])
    else:
        print('error')

SSA
SSI
SSI
OSA
OSA
OSA
OSA
OSA
OSA
OSA
OSA
SSA
SSA
SSA
SSA
WI
SSI
WA
SSI
OSA
OSI
OSI
SSI
SSA
SSI
SSI
WI
WI
SSA
WI
SSA
SSI

In [29]:
# loop and check
for ins in data.loc[~pd.isna(data['STOE']),'STOE']:
    if int(ins[5:]) in check_stoe:
        print(ins[5:])
    else:
        print('error')

72
72
72
72
72
72
72
12
04
04
72
61
72
72

In [ ]:
# WO
UZ         int - check_u
W          str - check_w
STOE       int - check_stoe
VTYP       str - # to do
VB         int - [0, 1, 2, 3, 4, 5]
UENH       int - is_int
UELH       int - is_int
X          NaN
BZ         # to do
PZ         # to do
ST         str
BE         str
MA         str
SWE                                                      NaN
LRV                                                      NaN
XX                                                       NaN

# MA
S_0                                                      1.0
MA_0       str - check_ma
Fl_0       float - is_float
LH_0       int - is_int
NH_0       int - is_int
Dring_0    int - [1, 2, 3]
Zeit_0     int - [1, 2, 3]
Bew_0      int - [1, 2, 3]
Sch_0      int - [1, 2, 3, 4, 5, 6]
Rueck_0    int - [1, 2, 3]
Text_0     str

In [1]:
bz = "8DG 2SL"

In [8]:
babz = x.split()

In [10]:
babz

['8DG', '2SL']

In [4]:
chk_ba = ["AS", "AZ", "AH", "PM", "BI", "FB", "BL", "AC", "DG", "EE",\
 "EK", "EB", "EI", "EL", "ES", "EA", "FA", "FI", "FE", "FZ", "GK", "GB", "WP",\
 "GE", "AG", "AV", "HB", "HT", "HP", "JL", "CJ", "KK", "KB", "KO", "LA", "LI",\
 "ME", "AN", "FO", "PO", "AB", "RO", "RK", "BU", "RE", "SW", "CH", "ER", "SK",\
 "JN", "SP", "SF", "LS", "SL", "SN", "SG", "PU", "SA", "QR", "ST", "KW", "TH",\
 "QP", "TK", "TB", "UL", "NU", "WD", "KI", "TA", "WO", "LW", "EZ", "ZI", "SL",\
 "SN"]

In [11]:
def check_bz(bz_str):
    '''
    Checks Bestockungsziel (bz) for validity and returns the splited data.
    '''
    nums = []
    bas = []
    
    bz_split = bz_str.split()
    
    for bz_inst in bz_split:
        try:
            if bz_inst[-2:] in chk_ba:
                nums.append(int(bz_inst[:-2]))
                bas.append(bz_inst[-2:])
            else:
                print('Not a valid tree species')

        except:
            print('Input not valid')
            
    if sum(nums) != 10:
        print('BZ does not add up to 10')
        
    return nums, bas

In [17]:
check_bz('2BU 6KI 2KB')

([2, 6, 2], ['BU', 'KI', 'KB'])