In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_excel('/home/philipp/Data/obf_autman/xlsx/Manuale_Dross_Abt.53_110.xlsx')
data['WO'] = data['WO'].str.replace(' ', '')

In [3]:
class Check(object):

    def __init__(self):

        self.chk_type = ['#U', '#W', '#STOE', '#VTYP', '#VB', '#VG', '#UENH', '#UELH', '#BZ', '#PZ', '#ST',\
                         '#BE', '#MA', '#SWE', '#LRV', '#WO', '#N']

        # wo
        self.chk_u = [80, 100, 120, 140, 160, 200]

        self.chk_w = ['WI', 'WA', 'SSI', 'SSA', 'OSI', 'OSA', 'BSI', 'BSA']

        self.chk_stoe = [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 21, 22, 23,\
         25, 26, 27, 28, 31, 32, 33, 34, 35, 36, 37, 41, 42, 43, 44, 51, 52, 53, 54,\
         55, 56, 57, 58, 61, 62, 63, 64, 65, 66, 71, 72, 73, 74, 75, 76, 81, 82, 83,\
         84, 85, 86, 86, 87, 88, 89, 91, 92, 93, 94, 95, 96, 97, 98]

        self.chk_vtyp = []

        self.chk_vg = [0, 1, 2, 3, 4, 5]
        self.chk_swe = ['grün', 'gelb', 'rot', 'Grün', 'Gelb', 'Rot']

        # bz
        self.chk_ba = ["AS", "AZ", "AH", "PM", "BI", "FB", "BL", "AC", "DG", "EE",\
         "EK", "EB", "EI", "EL", "ES", "EA", "FA", "FI", "FE", "FZ", "GK", "GB", "WP",\
         "GE", "AG", "AV", "HB", "HT", "HP", "JL", "CJ", "KK", "KB", "KO", "LA", "LI",\
         "ME", "AN", "FO", "PO", "AB", "RO", "RK", "BU", "RE", "SW", "CH", "ER", "SK",\
         "JN", "SP", "SF", "LS", "SL", "SN", "SG", "PU", "SA", "QR", "ST", "KW", "TH",\
         "QP", "TK", "TB", "UL", "NU", "WD", "KI", "TA", "WO", "LW", "EZ", "ZI", "SL",\
         "SN"]

        # nutz
        self.chk_nutz_ma = ['AD', 'AE', 'AF', 'AG', 'AS', 'BU', 'DE', 'DF', 'DP',\
         'EG', 'FM', 'JF', 'JP', 'KE', 'KF', 'KH', 'LI', 'LL', 'NB', 'ND', 'PA',\
         'PL', 'RM', 'SB', 'TR', 'UE', 'ZE', 'ZN', 'ZV']

        self.chk_nutz_dring = [1, 2, 3, 4, 5, 6]
        self.chk_nutz_bewil = [1, 2, 3]
        self.chk_nutz_zeitp = [1, 2, 3]
        self.chk_nutz_schlg = [1, 2, 3, 4, 5, 6]
        self.chk_nutz_rueck = [0, 10, 23, 26, 29, 30, 31, 35, 36, 38, 40, 90]

In [9]:
check = Check()

In [11]:
check.chk_w

['WI', 'WA', 'SSI', 'SSA', 'OSI', 'OSA', 'BSI', 'BSA']

In [4]:
data

,Seite,Check,WO,UZ,W,STOE,VTYP,VB,UENH,UELH,...,Fl_2,LH_2,NH_2,Dring_2,Zeit_2,Bew_2,Sch_2,Rueck_2,Text_2,End
0,0,pass,053A1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,pass,053A2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,pass,053A3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,pass,053A4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,pass,053B1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
877,877,pass,110C0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
878,878,pass,110D0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
879,879,pass,110E0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
880,880,pass,110F0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
881,881,pass,110G0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
data.columns

Index(['Seite', 'Check', 'WO', 'UZ', 'W', 'STOE', 'VTYP', 'VB', 'UENH', 'UELH',
       'X', 'BZ', 'PZ', 'ST', 'BE', 'MA', 'SWE', 'LRV', 'XX', 'S_0', 'MA_0',
       'Fl_0', 'LH_0', 'NH_0', 'Dring_0', 'Zeit_0', 'Bew_0', 'Sch_0',
       'Rueck_0', 'Text_0', 'S_1', 'MA_1', 'Fl_1', 'LH_1', 'NH_1', 'Dring_1',
       'Zeit_1', 'Bew_1', 'Sch_1', 'Rueck_1', 'Text_1', 'S_2', 'MA_2', 'Fl_2',
       'LH_2', 'NH_2', 'Dring_2', 'Zeit_2', 'Bew_2', 'Sch_2', 'Rueck_2',
       'Text_2', 'End'],
      dtype='object')

In [8]:
index = data['WO'].values
col = ['WO', 'MA', 'Fl', 'LH', 'NH', 'Dring', 'Zeit', 'Bew', 'Sch', 'Rueck', 'Text']

In [9]:
# create dataframe with wo
df = pd.DataFrame(index=index, columns=col)
df = df.fillna(0) # with 0s rather than NaNs

In [10]:
df

       WO  MA  Fl  LH  NH  Dring  Zeit  Bew  Sch  Rueck  Text
053A1   0   0   0   0   0      0     0    0    0      0     0
053A2   0   0   0   0   0      0     0    0    0      0     0
053A3   0   0   0   0   0      0     0    0    0      0     0
053A4   0   0   0   0   0      0     0    0    0      0     0
053B1   0   0   0   0   0      0     0    0    0      0     0
...    ..  ..  ..  ..  ..    ...   ...  ...  ...    ...   ...
110C0   0   0   0   0   0      0     0    0    0      0     0
110D0   0   0   0   0   0      0     0    0    0      0     0
110E0   0   0   0   0   0      0     0    0    0      0     0
110F0   0   0   0   0   0      0     0    0    0      0     0
110G0   0   0   0   0   0      0     0    0    0      0     0

[882 rows x 11 columns]

In [25]:
nutz = data[['S_0', 'MA_0', 'Fl_0', 'LH_0', 'NH_0', 'Dring_0', 'Zeit_0', 'Bew_0', 'Sch_0', 'Rueck_0', 'Text_0']]
col = ['S', 'MA', 'Fl', 'LH', 'NH', 'Dring', 'Zeit', 'Bew', 'Sch', 'Rueck', 'Text']
nutz.columns = col
nutz = nutz.set_index(index)
nutz = nutz.fillna(0)
nutz[['S', 'LH', 'NH', 'Dring', 'Zeit', 'Bew', 'Sch', 'Rueck']] = nutz[['S', 'LH', 'NH', 'Dring', 'Zeit', 'Bew', 'Sch', 'Rueck']].astype(int)

In [26]:
nutz

,S,MA,Fl,LH,NH,Dring,Zeit,Bew,Sch,Rueck,Text
053A1,1,LI,"1,5",0,160,1,2,2,4,35,"TA fördern, FI entnehmen und Kronenpflege bei ..."
053A2,0,0,0,0,0,0,0,0,0,0,0
053A3,1,DF,"1,17",0,70,3,1,2,4,35,0
053A4,0,0,0,0,0,0,0,0,0,0,0
053B1,1,PL,"1,5",0,230,1,2,2,4,35,TA erhalten KI geringe Kronen entnehmen
...,...,...,...,...,...,...,...,...,...,...,...
110C0,0,0,0,0,0,0,0,0,0,0,0
110D0,0,0,0,0,0,0,0,0,0,0,0
110E0,0,0,0,0,0,0,0,0,0,0,0
110F0,0,0,0,0,0,0,0,0,0,0,0
110G0,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
##############   Nutz   ##############

In [ ]:
# wo
index = ['506A1', '506A2', '506A3', '506A4', '506B0', '506C0',]

# create dataframe with wo
df = pd.DataFrame(index=index, columns=chk_ba)
df = df.fillna(0) # with 0s rather than NaNs

In [ ]:
##########################################

In [7]:

data.loc[~pd.isna(data['UZ']),'UZ']

20     U 140
71     U 120
95     U 140
99     U 200
161    U 160
162    U 160
273    U 140
307    U 120
381    U 140
382    U 140
383    U 140
399    U 160
404    U 120
414    U 140
483    U 200
490    U 200
535    U 120
556    U 120
558    U 120
583    U 200
664    U 140
712    U 140
759    U 140
763    U 160
791    U 200
793    U 160
798    U 160
800    U 140
804    U 140
809    U 200
835    U 140
840    U 120
865    U 200
869    U 140
Name: UZ, dtype: object

In [8]:
def clean(item, dtype, rmv=0):
    if dtype == 'int':
        return int(item[rmv:])
    else:
        return item[rmv:]

In [14]:
def check(typ, item):
    
    if typ == 'UZ':
        if item in check_u:
            return('pass')
        else:
            return('error')
        
    elif typ == 'W':
        if item in check_w:
            return('pass')
        else:
            return('error')
    
    elif typ == 'STOE':
        if item in check_stoe:
            return('pass')
        else:
            return('error')
        
    elif typ == 'VB':
        if item in [0,1,2,3,4,5]:
            return('pass')
        else:
            return('error')
        
    elif typ == 'UENH':
        if item >= 0:
            return('pass')
        else:
            return('error')
        
    elif typ == 'UELH':
        if item >= 0:
            return('pass')
        else:
            return('error')

In [15]:
col_dict = {'UZ':['int', 2], 'W': ['str', 2], 'STOE':['int', 5], 'VTYP':['str', 5], \
            'VB':['int', 2], 'UENH':['int', 5], 'UELH':['int', 5]}

In [16]:
for col, info in col_dict.items():
    print(col, info)
    
    # loop and check
    for ins in data.loc[~pd.isna(data[col]),col]:
        item = clean(ins, info[0], info[1])
        print(check(col, item))

UZ ['int', 2]
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
W ['str', 2]
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
STOE ['int', 5]
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
VTYP ['str', 5]
VB ['int', 2]
pass
pass
UENH ['int', 5]
UELH ['int', 5]
pass

In [22]:
# loop and check
for ins in data.loc[~pd.isna(data['UZ']),'UZ']:
    if clean(ins) in check_u:
        print(ins)
    else:
        print('error')

140
120
140
200
160
160
140
120
140
140
140
160
120
140
200
200
120
120
120
200
140
140
140
160
200
160
160
140
140
200
140
120
200
140

In [27]:
data.loc[~pd.isna(data['STOE']),'STOE']

95     STOE 72
108    STOE 72
117    STOE 72
141    STOE 72
144    STOE 72
256    STOE 72
414    STOE 72
483    STOE 12
501    STOE 04
507    STOE 04
646    STOE 72
763    STOE 61
765    STOE 72
863    STOE 72
Name: STOE, dtype: object

In [26]:
# loop and check
for ins in data.loc[~pd.isna(data['W']),'W']:
    if ins[2:] in check_w:
        print(ins[2:])
    else:
        print('error')

SSA
SSI
SSI
OSA
OSA
OSA
OSA
OSA
OSA
OSA
OSA
SSA
SSA
SSA
SSA
WI
SSI
WA
SSI
OSA
OSI
OSI
SSI
SSA
SSI
SSI
WI
WI
SSA
WI
SSA
SSI

In [29]:
# loop and check
for ins in data.loc[~pd.isna(data['STOE']),'STOE']:
    if int(ins[5:]) in check_stoe:
        print(ins[5:])
    else:
        print('error')

72
72
72
72
72
72
72
12
04
04
72
61
72
72

In [ ]:
# WO
UZ         int - check_u
W          str - check_w
STOE       int - check_stoe
VTYP       str - # to do
VB         int - [0, 1, 2, 3, 4, 5]
UENH       int - is_int
UELH       int - is_int
X          NaN
BZ         # to do
PZ         # to do
ST         str
BE         str
MA         str
SWE                                                      NaN
LRV                                                      NaN
XX                                                       NaN

# MA
S_0                                                      1.0
MA_0       str - check_ma
Fl_0       float - is_float
LH_0       int - is_int
NH_0       int - is_int
Dring_0    int - [1, 2, 3]
Zeit_0     int - [1, 2, 3]
Bew_0      int - [1, 2, 3]
Sch_0      int - [1, 2, 3, 4, 5, 6]
Rueck_0    int - [1, 2, 3]
Text_0     str

In [1]:
bz = "8DG 2SL"

In [8]:
babz = x.split()

In [10]:
babz

['8DG', '2SL']

In [4]:
chk_ba = ["AS", "AZ", "AH", "PM", "BI", "FB", "BL", "AC", "DG", "EE",\
 "EK", "EB", "EI", "EL", "ES", "EA", "FA", "FI", "FE", "FZ", "GK", "GB", "WP",\
 "GE", "AG", "AV", "HB", "HT", "HP", "JL", "CJ", "KK", "KB", "KO", "LA", "LI",\
 "ME", "AN", "FO", "PO", "AB", "RO", "RK", "BU", "RE", "SW", "CH", "ER", "SK",\
 "JN", "SP", "SF", "LS", "SL", "SN", "SG", "PU", "SA", "QR", "ST", "KW", "TH",\
 "QP", "TK", "TB", "UL", "NU", "WD", "KI", "TA", "WO", "LW", "EZ", "ZI", "SL",\
 "SN"]

In [11]:
def check_bz(bz_str):
    '''
    Checks Bestockungsziel (bz) for validity and returns the splited data.
    '''
    nums = []
    bas = []
    
    bz_split = bz_str.split()
    
    for bz_inst in bz_split:
        try:
            if bz_inst[-2:] in chk_ba:
                nums.append(int(bz_inst[:-2]))
                bas.append(bz_inst[-2:])
            else:
                print('Not a valid tree species')

        except:
            print('Input not valid')
            
    if sum(nums) != 10:
        print('BZ does not add up to 10')
        
    return nums, bas

In [17]:
check_bz('2BU 6KI 2KB')

([2, 6, 2], ['BU', 'KI', 'KB'])